
/* Define the rotation animation */
@keyframes slowRotate {
  from {
    transform: rotate(20deg) scale(1.5);
  }
  to {
    transform: rotate(380deg) scale(1.5); /* Rotates 360 + 20 degrees */
  }
}

.rotating-mesh {
  position: absolute;
  top: -40px;
  left: 360px;
  opacity: 0.5;
  animation: slowRotate 100s linear infinite; /* Adjust the duration for speed */
}

/* Define the scaling animation */
@keyframes pulse {
  0% {
    transform: rotate(30deg) scale(0.8);
  }
  50% {
    transform: rotate(30deg) scale(1.2); /* Enlarges to 1.2 times the original size */
  }
  100% {
    transform: rotate(30deg) scale(0.8); /* Returns to the original scale */
  }
}

.pulsing-mesh {
  position: absolute;
  top: 40px;
  left: -40px;
  animation: pulse 10s ease-in-out infinite; /* Adjust the duration for speed */
}

.title-link {
  opacity: 0.9
}

.title-link:hover {
  opacity: 1;
  text-decoration: underline;
}

.hamburger-menu {
  opacity: 0.8;
  cursor: pointer;
  transition: opacity 200ms ease-in-out;
}

.hamburger-menu:hover {
  opacity: 1;
}

.main-links {
  display: flex;
  padding-bottom: 20px;
  background: rgba(0,0,0,0.05);
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 20px;
}

.main-links .column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main-links .column a {
  text-decoration: none;
  color: #111;
  font-size: 1.1rem;
  line-height: 2rem;;
}

.main-links .column a:hover {
  text-decoration: underline;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid rgba(0,0,0,0.1);
}

ul.unstyled {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}